<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" basePath="/logicaldoc/services/rest/search" definitionUrl="http://localhost:8094/logicaldoc/services/rest/search?_wadl" id="26592452-ab78-48bd-9469-b740baa3d1aa" name="LogicalDoc-Search" type="rest" wadlVersion="http://wadl.dev.java.net/2009/02" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="26592452-ab78-48bd-9469-b740baa3d1aafileName">LogicalDoc-Search</con:setting></con:settings><con:definitionCache rootPart="http://localhost:8094/logicaldoc/services/rest/search?_wadl" type="TEXT"><con:part><con:url>http://localhost:8094/logicaldoc/services/rest/search?_wadl</con:url><con:content><![CDATA[<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <grammars>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified">
      <xs:element name="searchoptions" type="WSSearchOptions"/>
      <xs:complexType name="WSSearchOptions">
        <xs:sequence>
          <xs:element name="caseSensitive" type="xs:int"/>
          <xs:element minOccurs="0" name="creationFrom" type="xs:string"/>
          <xs:element minOccurs="0" name="creationTo" type="xs:string"/>
          <xs:element minOccurs="0" name="dateFrom" type="xs:string"/>
          <xs:element minOccurs="0" name="dateTo" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="expression" type="xs:string"/>
          <xs:element minOccurs="0" name="expressionLanguage" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="filterIds" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="folderId" type="xs:long"/>
          <xs:element minOccurs="0" name="format" type="xs:string"/>
          <xs:element minOccurs="0" name="language" type="xs:string"/>
          <xs:element name="maxHits" type="xs:int"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element name="retrieveAliases" type="xs:int"/>
          <xs:element name="searchInSubPath" type="xs:int"/>
          <xs:element minOccurs="0" name="sizeMax" type="xs:long"/>
          <xs:element minOccurs="0" name="sizeMin" type="xs:long"/>
          <xs:element minOccurs="0" name="template" type="xs:long"/>
          <xs:element minOccurs="0" name="topOperator" type="xs:string"/>
          <xs:element name="type" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </grammars>
  <resources base="http://localhost:8094/logicaldoc/services/rest/search">
    <resource path="/">
      <resource path="find">
        <method name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
  </resources>
</application>]]></con:content><con:type>http://wadl.dev.java.net/2009/02</con:type></con:part></con:definitionCache><con:endpoints><con:endpoint>http://localhost:8094</con:endpoint></con:endpoints></con:interface>