<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="ed2f0be2-3725-49d1-8d29-b963932d8b14" wadlVersion="http://wadl.dev.java.net/2009/02" name="LogicalDoc-Comments" type="rest" definitionUrl="http://localhost:8094/logicaldoc/services/mobile/comments?_wadl" basePath="/logicaldoc/services/mobile/comments" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="ed2f0be2-3725-49d1-8d29-b963932d8b14fileName">LogicalDoc-Comments</con:setting></con:settings><con:definitionCache type="TEXT" rootPart="http://localhost:8094/logicaldoc/services/mobile/comments?_wadl"><con:part><con:url>http://localhost:8094/logicaldoc/services/mobile/comments?_wadl</con:url><con:content><![CDATA[<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <grammars>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified">
      <xs:element name="Item" type="commentVO"/>
      <xs:complexType name="commentVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="author" type="xs:string"/>
          <xs:element minOccurs="0" name="content" type="xs:string"/>
          <xs:element minOccurs="0" name="modifiedOn" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="title" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </grammars>
  <resources base="http://localhost:8094/logicaldoc/services/mobile/comments">
    <resource path="/">
      <resource path="addcomment/{sid}/{docid}">
        <param name="sid" style="template" type="xs:string"/>
        <param name="docid" style="template" type="xs:string"/>
        <method name="POST">
          <request>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="addcommentform/{sid}/{docid}">
        <param name="sid" style="template" type="xs:string"/>
        <param name="docid" style="template" type="xs:string"/>
        <method name="POST">
          <request>
            <representation mediaType="application/x-www-form-urlencoded">
              <param name="content" style="query" type="xs:string"/>
            </representation>
          </request>
          <response>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="getcomments/{sid}/{docid}">
        <param name="sid" style="template" type="xs:string"/>
        <param name="docid" style="template" type="xs:string"/>
        <method name="GET">
          <request/>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
  </resources>
</application>]]></con:content><con:type>http://wadl.dev.java.net/2009/02</con:type></con:part></con:definitionCache><con:endpoints><con:endpoint>http://localhost:8094</con:endpoint></con:endpoints></con:interface>