<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="637b6b3d-ee98-4f3f-b036-eda8b1c64793" name="Test Suite 2 - LogicalDoc - Documents" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="637b6b3d-ee98-4f3f-b036-eda8b1c64793fileName">Test-Suite-2---LogicalDoc---Documents</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>